body {
    padding: 0 90px 0 90px !important;;
}

.box-layout{
    padding: 30px 0px 30px 0px;
    height: 1px;
    position: absolute;
    top: 50%;
    font-family: 'Poppins',Arial,sans-serif;
    font-weight: 700;
}


.line-height li{
    line-height: 1.2em;
    padding: 0 15px 15px 0;
    font-size: 1.2rem;
}


.main-nav li a {
    padding: 0 0.75rem 1rem 0.75rem;
    font-size: 1.45rem;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    //  &:hover{
    // //    color: $color;
    // }
}

.search input{
    font-size: 2rem;
    height: 50px;
    width: 80%;
    // border-bottom: 2px solid $grey;
    padding: 5px; 
    padding-right: 70px;
    &:focus{
        outline: none;
    }
}